<html lang="en">
<head>
   
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    <div class="navbar">
		<button onclick="location.href='index.html'"><img src="FoodGasam.png" class="logo" align="top" ></button>
        <div class="wrap">
            <div class="search">
                <input type="text" class="searchTerm" align="top" placeholder="It's a FoodGasam Everytime">
                <button type="submit" class="searchButton" align="top">
                <i class="fa fa-search" ></i>
                </button>
            </div>
        </div>
        
		<ul>
			
			<li><button type="button"><a href="Menu.html">Menu</a></button></li>
			<li><button type="button"><a herf="index.html">SIGNUP</a></li>
			<li><button type="button"><a herf="#">LOGIN</a></li>
		</ul>
</div>

<div style="margin-left: 10px; margin-left: 10px;">
	<h1 style="text-align:center; font-size: 48px; color: #080682; text-shadow: 2px 2px 2px #000; font-family: 'Serif', cursive;">"Our Specials"</h1>
</div>
<h1 style="text-align: center; font-size: 20px; font-family: 'Open sans-serif', cursive; color: rgb(7, 151, 247);">A fragrant and flavorful dish made with long-grain basmati rice, mixed with tender chunks of meat or vegetables and a blend of aromatic spices. Our biryani is slow-cooked in a sealed pot to allow the flavors to infuse and create a mouth-watering taste sensation. Served with raita, a cooling yogurt-based sauce, and your choice of accompaniments, including a boiled egg, pickles, and fried onions. This hearty and satisfying dish is a staple in South Asian cuisine and is known for its rich and complex flavors. Whether you prefer chicken, lamb, beef, or vegetarian, our biryani is sure to impress and satisfy your taste buds.</h1>

<!--Images-->
<div class="row">

	<div class="card">   
		<a href="Biriyani.html"><img src="Biriyani.jpg" alt="Image 1"></a>
		<div class="container">
			<h3>Biriyani</h3>
		</div>
	</div>
	</div>
	
</div>

 

</body>
</html>