<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
		body {
  background-image: url("{{ url_for('static', filename='images/background1.jpg') }}");
  background-repeat: no-repeat;
  background-size: cover;
}

	</style>
</head>
<body>
    {% include 'navbar.html' %}

	<div style="margin-left: 10px; margin-left: 10px;">
		<h1 style="text-align:center; font-size: 48px; color: #e9e21b; text-shadow: 2px 2px 2px rgb(130, 218, 233); font-family: 'Serif', cursive;">"Our Specials"</h1>
	</div>
	
	<!--Images-->
	<div class="row">
	
		<div class="card">   
			<a href="{{ url_for('Dosa') }}"><img src="{{ url_for('static', filename='Images/Dosa.jpg') }}" alt="Image 1"></a>
			<div class="container">
				<h3>Dosa</h3>
			</div>
		</div>
		</div>
		<div style="margin-left: 15px; margin-right: 15px; padding: 40px;">
			<h1 style="color: #fff; text-align: center; font-size: 30px; font-family: Arial, sans-serif; margin: 0;">A crispy South Indian crepe-like pancake made from a fermented batter of rice and lentils, with a tangy flavor and light, airy texture. Served with your choice of accompaniment, including sambar, coconut chutney, spicy tomato chutney, or onion chutney. This gluten-free and low-fat dish is not only delicious but also nutritious, providing a good source of carbohydrates, proteins, and essential vitamins and minerals. Try one of our variations, including Masala Dosa, Rava Dosa, or Cheese Dosa, for a unique and flavorful twist on this classic dish.</h1>
			</div>	
	</div>
	{% include 'footer.html' %}
	</body>
	</html>