<html lang="en">
<head>
   
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    <div class="navbar">
		<button onclick="location.href='index.html'"><img src="FoodGasam.png" class="logo" align="top" ></button>
        <div class="wrap">
            <div class="search">
                <input type="text" class="searchTerm" align="top" placeholder="It's a FoodGasam Everytime">
                <button type="submit" class="searchButton" align="top">
                <i class="fa fa-search" ></i>
                </button>
            </div>
        </div>
        
		<ul>
			
			<li><button type="button"><a href="Menu.html">Menu</a></button></li>
			<li><button type="button"><a herf="index.html">SIGNUP</a></li>
			<li><button type="button"><a herf="#">LOGIN</a></li>
		</ul>
</div>

<div style="margin-left: 10px; margin-left: 10px;">
	<h1 style="text-align:center; font-size: 48px; color: #080682; text-shadow: 2px 2px 2px #000; font-family: 'Serif', cursive;">"Our Specials"</h1>
</div>
<h1 style="text-align: center; font-size: 20px; font-family: 'Open sans-serif', cursive; color: rgb(7, 151, 247);">A crispy South Indian crepe-like pancake made from a fermented batter of rice and lentils, with a tangy flavor and light, airy texture. Served with your choice of accompaniment, including sambar, coconut chutney, spicy tomato chutney, or onion chutney. This gluten-free and low-fat dish is not only delicious but also nutritious, providing a good source of carbohydrates, proteins, and essential vitamins and minerals. Try one of our variations, including Masala Dosa, Rava Dosa, or Cheese Dosa, for a unique and flavorful twist on this classic dish.</h1>

<!--Images-->
<div class="row">

	<div class="card">   
		<a href="Dosa.html"><img src="Dosa.jpg" alt="Image 1"></a>
		<div class="container">
			<h3>Dosa</h3>
		</div>
	</div>
	</div>
	
</div>

 

</body>
</html>