<html lang="en">
<head>
   
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    <div class="navbar">
		<button onclick="location.href='index.html'"><img src="FoodGasam.png" class="logo" align="top" ></button>
        <div class="wrap">
            <div class="search">
                <input type="text" class="searchTerm" align="top" placeholder="It's a FoodGasam Everytime">
                <button type="submit" class="searchButton" align="top">
                <i class="fa fa-search" ></i>
                </button>
            </div>
        </div>
        
		<ul>
			
			<li><button type="button"><a href="Menu.html">Menu</a></button></li>
			<li><button type="button"><a herf="index.html">SIGNUP</a></li>
			<li><button type="button"><a herf="#">LOGIN</a></li>
		</ul>
</div>

<div style="margin-left: 10px; margin-left: 10px;">
	<h1 style="text-align:center; font-size: 48px; color: #080682;text-shadow: 2px 2px 2px #000; font-family: 'Serif', cursive;">"Our Specials"</h1>
</div>
<h1 style="text-align: center; font-size: 20px; font-family: 'Open sans-serif', cursive; color: rgb(7, 151, 247);">Indulge in a seafood lover's delight with our fish curry thali. This authentic South Indian dish features tender fish pieces simmered in a spicy and tangy tomato-based gravy, infused with a blend of aromatic spices. Our thali comes with a serving of steaming hot basmati rice, crispy papadum, a tangy lime pickle, and a side of creamy raita. Finish off your meal with a sweet and decadent serving of traditional South Indian dessert, such as payasam or gulab jamun. This dish is not only delicious but also nutritious, as fish is a good source of lean protein and omega-3 fatty acids. Experience the explosion of flavors and textures with our fish curry thali, a must-try for all seafood lovers</h1>

<!--Images-->
<div class="row">

	<div class="card">   
		<a href="Fish_Curry_Thali.html"><img src="Fish_Curry_Thali.jpg" alt="Image 1"></a>
		<div class="container">
			<h3>Fish Curry Thali</h3>
		</div>
	</div>
	</div>
	
</div>

 

</body>
</html>