<!doctype html>
<html>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='enteritem.css') }}">

   <body>
      <div>
      {% include 'navbar.html' %}
   </div>
      <form action="{{ url_for('add_item') }}" method="POST" enctype="multipart/form-data">
         <h3>Items Entry</h3>
         <label for="category">Select category:</label>
         <select name="category" id="category">
            <option value="Non-Veg Appetizer">Non-Veg Appetizer</option>
            <option value="Veg Appetizer">Veg Appetizer</option>
            <option value="Non Veg Biriyanis">Non Veg Biriyanis</option>
            <option value="Veg Biriyanis">Veg Biriyanis</option>
            <option value="Family Pack Dum Biryani">Family Pack Dum Biryani</option>
            <option value="Veg Curries N Combos">Veg Curries N Combos</option>
            <option value="Non Veg Curries N Combos">Non Veg Curries N Combos</option>
            <option value="Chaat">Chaat</option>
            <option value="Beverages">Beverages</option>
            <option value="Naans & Rotis">Naans & Rotis</option>
            

         </select><br><br>
         Item Name:<br>
         <input type="text" name="item_name"><br><br>
         
         Price:<br>
         <input type="number" name="price" step="0.01"><br><br>
         
        <!-- Item Image:<br>
         <input type="file" name="item_image"><br><br>-->
         
         <input type="submit" value="Submit">
         <br><br>
         <a href="{{ url_for('index') }}">Go back to home page</a>
      </form>
      
     
      
   </body>
</html>
