<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>

       
        /*function addToCart(price) {
            var quantity = document.getElementById("quantity").value;
            var total = price * quantity;
            alert("You added " + quantity + " items. Total price is " + total + " USD.");
        }*/
    </script>
</head>
<body>
    {% include 'navbar.html' %}
    <h1 style="text-align:center; font-size: 48px; color: #c62828; text-shadow: 2px 2px 2px #000; font-family: 'Brush Script MT', cursive;">"Our Menu"</h1>
    <div>
        <table border="1">
            <thead>
               <th>Category</th>
               <th>Item Name</th>
               <th>Price</th>
            </thead>
            {% for row in rows %}
            <tr>
               <td>{{ row["category"] }}</td>
               <td>{{ row["item_name"] }}</td>
               <td>
                   <div class="price-container">
                       <span class="price">{{ row["price"] }}</span>
                       <div class="quantity-dropdown">
                           <select id="quantity">
                               <option value="1">1</option>
                               <option value="2">2</option>
                               <option value="3">3</option>
                               <option value="4">4</option>
                               <option value="5">5</option>
                           </select>
                           <button onclick="addToCart({{ row["price"] }})">Add to Cart</button>
                       </div>
                   </div>
               </td>
            </tr>
            {% endfor %}
         </table>
    </div>
</body>
</html>