<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<style>
			body {
	  background-image: url("{{ url_for('static', filename='images/background1.jpg') }}");
	  background-repeat: no-repeat;
	  background-size: cover;
	}
	
		</style>
<body>
	{% include 'navbar.html' %}

	<div style="margin-left: 10px; margin-left: 10px;">
		<h1 style="text-align:center; font-size: 48px; color: #e9e21b; text-shadow: 2px 2px 2px rgb(130, 218, 233); font-family: 'Serif', cursive;">"Our Specials"</h1>
	</div>
	
	<!--Images-->
	<div class="row">
	
		<div class="card">   
			<a href="{{ url_for('paneer_tikka') }}"><img src="{{ url_for('static', filename='Images/paneer_tikka.jpg') }}" alt="Image 1"></a>
			<div class="container">
				<h3>Paneer_Tikka</h3>
			</div>
		</div>
		</div>
		<div style="margin-left: 15px; margin-right: 15px; padding: 40px;">
			<h1 style="color: #fff; text-align: center; font-size: 30px; font-family: Arial, sans-serif; margin: 0;">Our paneer tikka is a classic Indian appetizer that's perfect for vegetarians and meat lovers alike. Made with soft and creamy paneer cheese, marinated in a blend of aromatic spices and yogurt, then grilled to perfection in a traditional tandoor oven. Served with a side of mint chutney and a wedge of lemon, this dish is a perfect combination of spicy and tangy flavors. Our paneer tikka is not only delicious but also nutritious, as paneer is a great source of protein and calcium. Experience the melt-in-your-mouth texture of this flavorful dish, and let the spices tantalize your taste buds.</h1>
		</h1>
			</div>	
	</div>
	{% include 'footer.html' %}

</body>
</html>