<html lang="en">
<head>
   
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    <div class="navbar">
		<button onclick="location.href='index.html'"><img src="FoodGasam.png" class="logo" align="top" ></button>
        <div class="wrap">
            <div class="search">
                <input type="text" class="searchTerm" align="top" placeholder="It's a FoodGasam Everytime">
                <button type="submit" class="searchButton" align="top">
                <i class="fa fa-search" ></i>
                </button>
            </div>
        </div>
        
		<ul>
			
			<li><button type="button"><a href="Menu.html">Menu</a></button></li>
			<li><button type="button"><a herf="index.html">SIGNUP</a></li>
			<li><button type="button"><a herf="#">LOGIN</a></li>
		</ul>
</div>

<div style="margin-left: 10px; margin-left: 10px;">
	<h1 style="text-align:center; font-size: 48px; color: #000000; text-shadow: 2px 2px 2px #000; font-family: 'Brush Script MT', cursive;">"Our Specials"</h1>
</div>
<h1 style="text-align: center;font-family: 'Brush Script MT', cursive; color: rgb(121, 131, 88);">We'll not disclose out receipes which you can also try at your home!!</h1>

<!--Images-->
<div class="row">

	<div class="card">   
		<a href="specials.html"><img src="1.jpeg" alt="Image 1"></a>
		<div class="container">
			<h2>xyz</h2>
		</div>
	</div>
	</div>
	
</div>

 

</body>
</html>